<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancelled Orders</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Cancelled Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Reason</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for order in cancelled_orders %}
                <!-- Product 0 -->
                {% if order.product0_name %}
                <tr>
                    <td>{{ order.product0_name }}</td>
                    <td>{{ order.product0_size }}</td>
                    <td>{{ order.product0_quantity }}</td>
                    <td>{{ order.product0_price }}</td>
                    <td >{{ order.reason }}</td>
                    <td >{{ order.comment }}</td>
                </tr>
                {% endif %}
                <!-- Product 1 -->
                {% if order.product1_name %}
                <tr>
                    <td>{{ order.product1_name }}</td>
                    <td>{{ order.product1_size }}</td>
                    <td>{{ order.product1_quantity }}</td>
                    <td>{{ order.product1_price }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
