
<div class="container">
    <div class="row">
        <div class="col text-center">
            <i class="fas fa-user fa-5x"></i> 
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>First Name: {{ user.firstname }}</h4>
            <h4>Last Name: {{ user.lastname }}</h4>
            <h4>Username: {{ user.username }}</h4>
            <h4>Contact Number: {{ user.contactno }}</h4>
            <h4>Address :{{user.address}}</h4>
        </div>
    </div>
</div>
