<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <i class="fas fa-user fa-5x"></i>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h4>First Name: {{ user.firstname }}</h4>
                <h4>Last Name: {{ user.lastname }}</h4>
                <h4>Username: {{ user.username }}</h4>
                <h4>Contact Number: {{ user.contactno }}</h4>
                <h4>Address: {{ user.address }}</h4>
            </div>
        </div>
    </div>
</body>
</html>
